@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #150e28;
	scroll-behavior: smooth;
	color: white;
	font-family: "Montserrat", sans-serif;
}
.flare {
	background-image: url("../../public//assets/flare.svg");
	background-size: 2000px;
	background-repeat: repeat;
}

.btn {
	background-color: linear-gradient(#fe34b9 #903aff);
}
